
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a{
            text-decoration: none;
            color: #fff;
        }

        .calc_box {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("https://wallpaperaccess.com/full/286489.jpg");
        }

        
        .calc_items {
            width: 70vw;
            height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: black;
            opacity: .7;
            padding: 20px;
            border-radius: 20px;
            color: #fff;
            animation: spin .5s linear;
            cursor: pointer;
        }

        @keyframes spin {
            0%{
                transform: rotate(360deg);
            }
            100%{
                transform: rotate(0deg);
            }
        }

        .input {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            text-align: center;
            overflow: hidden;
        }

        input {
            /* width: 50vw; */
            margin: 0 5px;
            font-size: 4vh;
            border: none;
            outline-width: 0;
            background-color: transparent;
            color: #fff;
            border-bottom: 2px solid #fff;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
        }

        button {
            margin: 0 5px;
            margin-bottom: 7px;
            font-size: 2.6vh;
            padding: 3px;
            color: lime;
            font-weight: bold;
            padding: 7px;
            text-transform: capitalize;
            background-color: ghostwhite;
            border: none;
            border-radius: 999px;
        }

        button:hover {
            cursor: pointer;
            background-color: black;
            border-left: 2px solid red;
            border-bottom: 2px solid lime;
            border-top: 2px solid lime;
            border-right: 2px solid red;
        }

        h3,span{
            display: flex;
            font-size: 4vh;
            font-weight: bold;
        }


        @media (max-width:1238px) {
            .input {
                display: flex;
                flex-wrap: wrap;
            }

            input{
                width: 50vw;
            }

            #num1 {
                margin-bottom: 20px;
            }

            .btn {
                display: flex;
                flex-direction: column;
            }
        }

